html {
	margin-bottom: 1px;
	min-height: 100%;
}

body {
	background: #211426;
	color: #444;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding: 2%;
}

/* Grouping - flere selektorer, samme stil.
 * Litt mindre kode */
h1, h2, h3 {
	color: #413659;
	line-height: 2.500em;
	margin: 0.625em 0.125em;
}

h1 {
	font-size: 2.000em;
}
h2 {
	font-size: 1.750em;
}
h3 {
	font-size: 1.500em;
}

p {
	font-size: 1em;
	line-height: 1.5;
}

.container {
	background: transparent;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 0.938em;
	-moz-border-radius: 0.938em;
	-webkit-border-radius: 0.938em;
	border: 1px solid #211426;
}

.container-main {
	background: #F2EFDF;
	min-height: 32.500em;
	width: 80%;
	padding: 1.250em;
}

.container-outer {
	width: 70%;
}

.container-small {
	width: 5em; 
	min-height : 2em;
	padding: 1.5em;
	margin: 1em;
	float: left;
}

.container-green {
	background: #9BBFAB;
}

.cleared{
	clear:both;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
